<h1>KnockoutJS Test</h1>

<p>First name: <span data-bind="text: firstName"></span></p>
<p>Last name: <span data-bind="text: lastName"></span></p>
<p>Full name: <span data-bind="text: fullName"></span></p>

<input type="text" data-bind="value: firstName" placeholder="First name" />
<input type="text" data-bind="value: lastName" placeholder="Last name" />