<h1>
    Testing KnockoutJS</h1>
<div data-bind="css: { profitWarning: profitVal() < 0, profitSevere: profitVal() < -50 }">
    <p>
        <span data-bind="text: profitVal"></span>
    </p>
    <input type="text" data-bind="value: profitVal" placeholder="Enter profit value" />
</div>
